.yapildi {
    text-decoration: line-through;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yapilmadi {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}