.todocomp-todo {
    width: 80%;
    background-color: #B4B897;
    margin: 1rem 0rem;
    padding: 0.5rem;
    border-radius: 10px;
    color: #368B85;
}

.todocomp-todo h1 {
    display: flex;
    justify-content: space-between;
    padding: 0rem 10px;
}

.todocomp-todo button {
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0rem 0.3rem;
    font-size: 1.2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    color: #F1E9E5;
    border: 1px solid rgba(128, 128, 128, 0.342);
    background-color: #464660;
}

.todocomp-todo .btn-outline-danger {
    background-color: rgb(158, 15, 15);
}

.form2-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#todo-form2-savebutton {
    background-color: rgb(21, 83, 21);
    text-decoration: none;
}

.form-control-input {
    padding: 0.3rem 0.7rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.342);
}