.addTodo-form {
    width: 80%;
    display: flex;
    justify-content: center;
}

.addTodo-form input {
    padding: 5px 10px;
    width: 60%;
    font-size: 1.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    color: #464660;
}

.addTodo-form input:focus {
    border: 1px solid #464660;
}

.addTodo-form button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    color: #F1E9E5;
    border: 1px solid rgba(128, 128, 128, 0.342);
    background-color: #464660;
}